.navbar-brand {
    font-family: bradley hand, cursive;
  }
  
  .form-group {
    align-items: center;
    padding-left: 5%;
  }
  
  .btn-right {
    margin-left: 5%;
    display: block;
  }

  .btn-logout{
    margin-left: 30%;
    margin-right: 30%;
    margin-top: -10%;
    display: block;
  }

  .bi {
    font-size: 1.5rem;
    width: 2rem;
    height: 2rem;
  }
  